<template>
  <v-container class="main-bg" fluid>
    <v-row>
      <v-col cols="12" md="8" offset-md="2">
        <p class="main-title">{{title}}</p>
        <p class="main-desc">{{desc1}}</p>
        <p class="main-desc">{{desc2}}</p>
      </v-col>

      <v-col
        cols="12"
        md="6"
        offset-md="3"
        class="pa-0 white elevation-10"
        style="margin-top: 150px;"
      >
        <div class="d-flex flex-column px-4" style="background-color: #f7f7f7">
          <v-radio-group v-model="row" row>
            <v-radio label="I Don't have a Reservation" value="radio-1"></v-radio>
            <v-radio label="I have a Reservation" value="radio-2"></v-radio>
          </v-radio-group>
        </div>

        <div class="d-flex flex-column">
          <div class="d-flex justify-space-between">
            <div class="pa-3">
              <p class="booking-box-text">Email</p>

              <v-text-field
                hide-details
                name="email"
                label="email"
                placeholder="your@email.com"
                solo
              ></v-text-field>
            </div>
            <div class="pa-3">
              <p class="booking-box-text">Booking Service</p>

              <div class="d-flex">
                <div
                  v-for="(item, i) in bookingButtons"
                  :key="i"
                  class="booking-button"
                  style=" cursor:pointer; border: 2px solid green; border-radius: 3px; padding: 4px 5px; margin-right: 10px; "
                >
                  <div
                    :style="{backgroundImage: `url(/img/${item.link}.png)`}"
                    style=" background-position: center; background-size: contain; width: 80px; height: 40px;"
                  ></div>
                </div>
            
              </div>
            </div>

            <div class="d-flex" style="width: 170px;">
              <a href="#" class="d-flex reserve-hotel-link align-center px-5">
                <span>RESERV HOTEL</span>
              </a>
            </div>
          </div>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import HelloWorld from '../components/HelloWorld';

export default {
  data() {
    return {

      title: 'Lorem ipsum dolor sit amet.',
      desc1: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor, qui.',
      desc2: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quibusdam minus, sunt exercitationem modi architecto!',
      bookingButtons: [
        {name: 'Agoda', link: 'agoda'},
        {name: 'Booking', link: 'booking'},
        {name: 'Hotels', link: 'hotels'},
        ]
    };
  },
  components: {
    HelloWorld
  }
};
</script>
<style>
.booking-box-text {
  opacity: 0.7;
  margin-bottom: 10px !important;
  font-size: 14px;
}

.reserve-hotel-link {
  text-decoration: none;
  text-transform: uppercase !important;
  transition: all ease-in-out 0.3s;
  height: 100%;
  background-color: #e02901;
  color: white !important;
  font-weight: bold;
}
.reserve-hotel-link:hover {
  background-color: rgb(255, 103, 77);
}

.main-bg {
  background-image: url(/img/room.jpg);
  height: 400px;
  padding: 20px;
}
p.main-desc {
  color: white;
  padding: 0;
  margin: 0 !important;
}
p.main-title {
  color: white;
  font-size: 50px !important;
  padding: 0;
  margin: 0 !important;
}
</style>
