<template>
  <v-container fluid class=" py-0">
    <v-row class="elevation-4">
      <v-col cols="12" md="8" offset-md="2"  class="py-0">
        <v-row>
          <v-col cols="1" class="py-0" align-self="center">{{title}}</v-col>

          <v-col cols="11" class="py-0" align-self="end">

<v-spacer></v-spacer>

            <div class="hidden-md-and-up">
              <v-btn>
                <v-icon>menu</v-icon>
              </v-btn>
            </div>

            <div class="hidden-sm-and-down">
              <v-tabs
        right
                slider-color="#37dcb2"
                background-color="transparent"
              >
                <v-tab style="padding: 0 10px;" v-for="(item, i) in menuItems" :key="i">{{item.name}}</v-tab>
              </v-tabs>
            </div>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      title: 'CatchHotels',
      menuItems: [
        { name: 'Reserve Hotel', link: '/' },
        { name: 'How it works', link: '/random' },
        { name: 'Testimonials', link: '/anime-list' },
        { name: "Can't book right now", link: '/ongoing-series' },
        { name: 'FAQs', link: '/newly-added' },
        { name: 'Contact', link: '/recommendations' }
      ],

      currentLink: null
    };
  }
};
</script>

<style>
</style>
