<template>
  <v-app>
  <TheMenu />

    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import TheMenu from './components/TheMenu';

export default {
  name: 'App',
  components: {
    TheMenu,
    
  },
  data: () => ({
    //
  }),
};
</script>
<style>
  * {
    font-family: "Montserrat";
    text-transform: none !important;
  }

 
</style>
